*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iosevka Extended', sans-serif;
}


#contenedor{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto;
    background: linear-gradient(90deg,#ebb7b7,#e9bf9d);
}

header img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: auto;
}

nav{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 50%;
}
.texto{
    grid-column: 1 / 4;
    text-align: center;
    margin: auto;
    padding: 15px 0;
    width: 40%;
    background: rgba(153, 59, 59, 0.6);
    border-radius: 10px;
    color: hsl(36, 100%, 56%);
    animation: aparecer 1s ease-in-out infinite alternate;
}

@keyframes aparecer{
    from{ opacity: .5; transform: scale(0.97); }
    to{ opacity: 1; transform: scale(1); }
}

.cuadro{
    background: #fff;
    padding: 20px;
    width: 430px;
    text-align: justify;
    border-radius: 12px;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.cuadro img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="email"]{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type="submit"]{
    background: #e07334;
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover{
    background-color: #a16542;
}
footer{
    background: #2e2e2e;
    color: white;
    padding: 15px;
    text-align: center;
}

footer a{
    margin: 0 10px;
    color: white;
    font-size: 22px;
}
footer a i:hover{
    color: #796868;
}
.direc{
    text-decoration: none;
    font-size: 15px;
}
.direc:hover{
    color: #afaaaa;

}
